.header {
  box-shadow: 0 2px 2px 2px var(--grey);
  padding: calc(var(--space) * 2) 0;
  margin-bottom: calc(var(--space) * 4)
}

.container {
  display: flex;
  align-items: center;
  max-width: var(--maxPageWidth);
  margin: auto;
  justify-content: space-between;
}

.logo {
  color: var(--primary);
  font-weight: 800;
  font-size: 2.5rem;
  text-decoration: none;
}